:root {
    --biru: #0d1282;
    --putih: #eeeded;
    --kuning: #f0de36;
    --merah: #d71313;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100dvh;
}

/* Bagian container */

.login-box {
    display: flex;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
    padding-inline: 10dvw;
}

.login-box img {
    width: 10dvw;
}

/* Bagian kiri */

.satu {
    width: 100%;
    background: var(--biru);
    color: white;
    padding: 40px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform-origin: center;
}

.r-s {
    background: var(--putih);
    color: black;
}

/* Bagian kanan */

.dua {
    width: 100%;
    background: var(--putih);
    color: black;
    padding: 40px;
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
}

.r-d {
    background: var(--biru);
    color: white;
}

/* Bagian switch */
.animasi-jalan {
    animation: switch 0.8s ease forwards;
}

/* Class mundur */
.animasi-kembali {
    animation: switch-back 0.8s ease forwards;
}

@keyframes switch {
    0% {
        transform: translateX(0) scalex(1);
        border-radius: 20px 20px 20px 20px;
        object-fit: cover;
        #register {
            display: flex;
        }
    }
    50% {
        transform: translateX(50%) scalex(2.0);
        border-radius: 20px 20px 20px 20px;
        object-fit: cover;
        #register {
            display: flex;
        }  
    }
    100% {
        transform: translateX(100%) scalex(1);
        border-radius: 0 20px 20px 0;
        #register {
            display: flex;
        }
    }
}

@keyframes switch-back {
    0% {
        transform: translateX(100%) scalex(1);
    }
    50% {
        transform: translateX(0) scalex(0);
    }
    100% {
        transform: translateX(0) scalex(1);
    }
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.register-text {
    padding: 10px 0;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 18px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background: #2e7d32;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

.error {
    background: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}
